@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat";
}

:root {
  --bg: white;
  --stepper-bg: white;
  --stepper-box-shadow: rgba(195, 69, 104, 0.2);
  --stepper-gradient: linear-gradient(270deg, #efb441 0%, #c34568 100%);
  --stepper-color: #c34568;
  --stepper-border-color: white;
  --stepper-box-shadow: rgba(195, 69, 104, 0.2);
  --stepper-button-text-color: white;
}

body {
  background: var(--bg);
  margin: 0;
  padding-top: 350px;
}

.stepper {
  position: relative;
  width: 340px;
  left: 50%;
  transform: translateX(-50%);
}

.stepper__step {
  position: absolute;
  background: var(--stepper-bg);
  box-shadow: 0px 0px 40px var(--stepper-box-shadow);
  border-radius: 20px;
  padding: 30px 30px 22px;
  width: 100%;
  box-sizing: border-box;
  left: 100px;
  opacity: 0;
  transition: all 0.75s ease;
  transition-property: left, opacity;
  z-index: -1000;
}

.stepper__step.stepper--show {
  left: 0;
  opacity: 1;
  z-index: initial;
}

.stepper__bullets {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.stepper__bullet {
  background: var(--stepper-gradient);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0.25;
  border: 5px solid transparent;
  background-clip: content-box;
}

.stepper__bullet.stepper--active {
  opacity: 1;
}

.stepper__field {
  width: 100%;
  position: relative;
}

.stepper__field>input {
  background: transparent;
}

.stepper__field+.stepper__field {
  margin-top: 30px;
}

.stepper__field>input~.stepper__bottom-border::before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--stepper-gradient);
  opacity: 0.5;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.stepper__field>input~.stepper__bottom-border::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--stepper-gradient);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease;
  transition-property: width;
}

.stepper__field>input:not(:placeholder-shown)~.stepper__bottom-border::after,
.stepper__field>input:focus~.stepper__bottom-border::after {
  width: 100%;
}

.stepper__field>input+.stepper__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  background: var(--stepper-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  transition: all 0.25s ease;
  transition-property: opacity, top, left, transform;
  pointer-events: none;
}

.stepper__field>input:not(:placeholder-shown)+.stepper__placeholder,
.stepper__field>input:focus+.stepper__placeholder {
  top: -10px;
  left: 0;
  opacity: 1;
  transform: translateY(0);
}

.stepper__field>input {
  width: 100%;
  border: none;
  outline: none;
  padding: 14px 20px;
  font-size: 14px;
  color: var(--stepper-color);
  box-sizing: border-box;
}

.stepper__field>input::placeholder {
  visibility: hidden;
}

.stepper__previous,
.stepper__next {
  cursor: pointer;
  background: var(--stepper-gradient);
  width: 40px;
  height: 20px;
  border-radius: 16px;
  border: 1.6px solid var(--stepper-border-color);
  box-shadow: 0px 0px 4px var(--stepper-box-shadow);
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%);
  bottom: -30px;
  display: flex;
  align-items: center;
}

.stepper__previous {
  left: 40%;
  justify-content: flex-start;
  padding-left: 8px;
}

.stepper__next {
  left: 60%;
  justify-content: flex-end;
  padding-right: 8px;
}

.stepper .stepper__step:nth-of-type(2) .stepper__previous,
.stepper .stepper__step:last-of-type .stepper__next {
  opacity: 0.5;
  cursor: not-allowed;
}

.stepper__button {
  cursor: pointer;
  background: var(--stepper-gradient);
  border-radius: 16px;
  border: 1.6px solid var(--stepper-border-color);
  box-shadow: 0px 0px 4px var(--stepper-box-shadow);
  color: var(--stepper-button-text-color);
  padding: 10px 30px;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}